
<div class="row clearfix">
 <% if todo_item.completed? %>
  <div class="complete">
   <%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
    <i style="opacity: 0.4;" class="fa fa-check"></i>
   <% end %>
  </div>
  <div class="todo_item">
        <p style="opacity: 0.4;">
            <strike> <%= todo_item.content%>
                <% if todo_item.due_date.present? %>
                <time class="task-time <%= todo_item.due_date <= Date.today ? 'is-due' : '' %>" datetime="<%= todo_item.due_date.strftime('%FT%T') %>">
                    <%= todo_item.due_date.strftime("%m/%d") %>
                </time> 
                <% end %>
        </strike>
        </P>
        
  </div>
    <div class="trash">
   <%= link_to edit_todo_list_todo_item_path(@todo_list, todo_item.id), method: :get do %>
    <i class="fa fa-pencil"></i>
   <% end %>
  </div>
  <div class="trash">
   <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash"></i>
   <% end %>
   </div>
 <% else %>
  <div class="complete">
   <%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
    <i class="fa fa-circle-thin"></i>
   <% end %>
  </div>
  <div class="todo_item">
        <div class="priority_<%=todo_item.priority%>">
                <%= todo_item.content %>
                <% if todo_item.due_date.present? %>
                <time class="task-time <%= todo_item.due_date <= Date.today ? 'is-due' : '' %>" datetime="<%= todo_item.due_date.strftime('%FT%T') %>">
                    <%= todo_item.due_date.strftime("%m/%d") %>
                    
                </time>
            
                <% end %>
            </div>
    </div>
    <div class="trash">
   <%= link_to edit_todo_list_todo_item_path(@todo_list, todo_item.id), method: :get do %>
    <i class="fa fa-pencil"></i>
   <% end %>
  </div>
  <div class="trash">
   <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash"></i>
   <% end %>
  </div>
 <% end %>
</div>
