 <% if flash[:errors] %> 
    <div class="row">
        <% flash[:errors].each do |e| %>
            <p class="text-danger"><%= e %></p> 
        <% end %>
    </div>
<% end %> 


<div class="row">
    <div  id="registration" class="col-md-6">
        <h1 class="regandlog"> Register</h1>
    
        <%= form_for @user do |f| %>
        
            <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field  :email %>
            </div>

            <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field  :password %>
            </div>
            
            <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field  :password_confirmation %>
            </div>

            <%= f.submit%>
        
            <% end %>

    </div>

    <div id="login " class="col-md-6">
        <h1 class="regandlog"> Login</h1>

        <%= form_tag sessions_path do%>
            <div class="form-group">
                <%= label_tag :email %>
                <%= email_field_tag  :email %>
            </div>

            <div class="form-group">
                <%= label_tag :password %>
                <%= password_field_tag  :password %>
            </div>

            <%= submit_tag "Sign In"%>

        <% end %>

    </div>
</div>


